/* Cascade Style Sheet*/
h2 {
 color : #00ff2a;  
}
/* star(*) means everything*/
/**{
 border: solid    
}*/
.header{
 background-color: rgb(255, 238, 0);
 
 justify-content: space-between
}
.game{
position:relative
}
.game p{
 position : absolute;
 top :50%;
 left:50%;
 transform : translate(-50%, -50%);
 opacity: 0;

}

.game:hover p{
opacity: 0.33;


}
.game:hover img{
opacity:0.33
}

a :link {
color:white

}
a :visited{
color:white
}

.division{
 
 display: flex;
 justify-content: flex-end;

}